.input-wrapper {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;

  &__label {
    width: 200px;
  }

  &:hover {
    .show-hover {
      display: block;
    }
  }
}

.show-hover {
  display: none;
}
