<h2>{{ formSectionControl.name || "" | translation }}</h2>

<div
  class="d-flex flex-column"
  *ngFor="let control of formSectionControl.controls"
>
  <div class="d-flex flex-row" *ngFor="let row of control.table.rows">
    <div
      class="table-cell"
      [ngStyle]="{ width: cellWidth }"
      *ngFor="let col of row.cols"
    >
      <ng-container *ngIf="col.cellType === CellTypeEnum.FIXED_HEADER">
        {{ $any(col).value || "" | translation }}
      </ng-container>

      <ng-container *ngIf="col.cellType === CellTypeEnum.INPUT">
        <app-generic-input
          [form]="form"
          [formCell]="$any(col)"
        ></app-generic-input>
      </ng-container>
    </div>
  </div>
</div>
