a {
  padding: 4px 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  color: darkblue;

  &:hover {
    color: black;
    outline: 1px solid black;
  }
}
