.divide-horizontal-in-two {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
}

.navigation {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-height: 100vh;
  overflow: scroll;
}
