button {
  padding: 4px 8px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  display: flex;
  text-align: left;
  align-items: center;
  background-color: transparent;

  &:hover {
    outline: 1px solid black;
  }
}

.box {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}
